@using LaMiaPizzeriaModelConOrdini.Models;

@model PizzaOrdersView

@{
    Layout = "_LayoutPersonal";
}

<div class="Container">
    <form asp-controller="Order" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3 form-check">
            <label>Nome:</label>
            <input asp-for="Order.Title" type="text" class="form-control" />
            <span asp-validation-for="Order.Title" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label>Pizze:</label>
            <select asp-for="Order.PizzaId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Pizza pizza in Model.Pizzas)
                {
                        <option value="@pizza.Id">@pizza.Name</option>
                }
            </select>
            <span asp-validation-for="Order.PizzaId" class="text-danger"></span>
        </div>

        <div class="d-grid justify-content-end">
            <button type="submit" class="btn btn-danger" formmethod="post">Salva</button>
        </div>

    </form>
</div>